.confirmButton{
    /* margin-bottom: 20px; */
    margin: 10px 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.confirmButton:hover{
    background-color: rgb(185, 131, 64);
    color: white;
}

.confirmButton:disabled{
    background-color: rgb(161, 161, 161);
    cursor:auto;
}

.drop-down {
    color:black;
    margin: 1em;
}